/*li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}*/


/*.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}*/
h1{
  margin-top: 30px;
  text-align: center;
  font-family: sans-serif;
}
h4{
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
}

.form-group {
  margin-bottom: 5px;
}

.background{
  color:yellow;
}
body {
  background-color: yellow;
}

#burger{
  height:350px;
  display:block;
  margin:auto;
}

/*search box*/
input[type=text] {
  display:block;
  margin:auto;
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}
/*button */
.button {
  display: block;
  margin:auto;
  margin-top: 20px;

  padding: 6px 6px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: yellow;
  background-color: #A7A25E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #CEC976;
}

.button:hover {background-color: gray}

.button:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*devour button*/
.devour {
  display: block;
  margin:auto;
  margin-top: 20px;

  padding: 2px 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: yellow;
  background-color: #A7A25E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #CEC976;
}

.devour:hover {
  background-color: gray;

}

.devour:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*text style*/
li{
  font-size: 20px;
  font-family: sans-serif;
  font-style: normal;
}

#right{
  float:right;
  width:45%;
  background-color: yellow;
  margin-left: 40px;
}

#left{
  float:left;
  width:45%;
  background-color: yellow;
  margin-left: 50px;

}

#each{
  text-align: center;
  margin-top: 10px;
}
